.questGroup {
    margin-bottom: 24px;
}

.groupHeader {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    cursor: pointer;
    user-select: none;
}

.groupTitle {
    font-size: 14px;
    font-weight: bold;
    color: #b9c3c8;
    text-transform: uppercase;
    margin-right: 5px;
    white-space: nowrap;
}

.dividerLine {
    width: 100%;
    height: 1px;
    border-top: 1px dashed #b9c3c8;
    margin: 0 5px;
}

.toggleButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #00d7ff;
    display: flex;
    align-items: center;
}

.cardGrid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

@media (min-width: 768px) and (max-width: 1279px) {
    .cardGrid {
        display: grid;
        grid-template-columns: repeat(3, 224px);
        justify-content: center;
        gap: 16px;
    }
}

@media only screen and (min-width: 1280px) {
    .cardGrid {
        display: grid;
        grid-template-columns: repeat(5, 224px);
        justify-content: center;
        gap: 32px;
    }
}

.aligningContainer {
    margin: 0 auto;
}
