.dashboardContainer {
    position: relative;
    padding-bottom: 80px;
}

.questGroup {
    margin-bottom: 24px;
}

.groupHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.groupTitle {
    font-size: 14px;
    font-weight: bold;
    color: #b9c3c8;
    text-transform: uppercase;
    margin: 0;
    white-space: nowrap;
}

.dividerLine {
    width: 100%;
    height: 1px;
    border-top: 1px dashed #b9c3c8;
    margin: 0 16px;
}

.toggleButton {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #b9c3c8;
    display: flex;
    align-items: center;
}

.cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
    gap: 20px;
}

/* Контейнер для кнопок создания */
.createButtonsContainer {
    position: absolute; /* Позиционирование относительно dashboardContainer */
    bottom: 40px;
    right: 40px;
    z-index: 1000;
}

.createButton {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #ff6f00;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.createButton:hover {
    background-color: #e06000;
}
